.outerDiv {
    background-color: #CF914C;
    height: 500px;
    width:100%;
    position: relative;
    bottom: 0px;
    display: flex;
    padding: 10%;
    padding-top: 80px;
}

.venstreDiv {
 width: 50%;
}

.højreDiv {
 position: absolute;
 right: 15%;
}

.footerNyhedsBrev {
    width: auto;
    height: 300px;
}

.footerOverskrift {
    color: #FFFFFF;;
    font-size: 30px;
}

.footerGenveje {
    color: #FFFFFF;;
    font-size: 20px;
    margin-top: 20px;
}

a:hover {
    color: #6B3B0A;
 }