.outerDiv {
    background-color: #CF914C;
    height: 500px;
    width:100%;
    position: relative;
    bottom: 0px;
    display: flex;
    padding: 10%;
    padding-top: 80px;
}

.venstreDiv {
 width: 50%;
}

.højreDiv {
 position: absolute;
 right: 15%;
}

.footerNyhedsBrev {
    width: auto;
    height: 300px;
}

.footerOverskrift {
    color: #F4EEE8;
    font-size: 30px;
}

.footerGenveje {
    color: #F4EEE8;
    font-size: 20px;
    margin-top: 20px;
}

a:hover {
    color: #CFA99D;
    text-decoration: inherit;
 }

 .ikon{
     color: #F4EEE8;
     margin: 5px;
 }

 .ikon:hover{
    color: #CFA99D;
 }