@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.topDiv {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/Forside/Baggrund-forside.png");
        background-size: 800px;
        background-position: right 50px;
}

.kvindeligProgrammør {
    width: 400px;
    margin: 150px 100px 200px 0px ;

}

.introTextHome {
    display: flex;
    flex-wrap: wrap;   
    margin: 150px 50px 0px 80px;
    right: 80px;
    width: 300px;
    font-size: 50px;
    
}

.komIgangKnap {
    width: 200px;
    height: 40px;
    position: absolute;
    margin: 80px 0px 0px 80px;
    background-color: #CF914C;
    color: #F4EEE8;
    font-family:  'Playfair Display';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding-top: 5.5px;
    
}

.omProgrammeringlæsMereHer {
    width: 200px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: 80px;
    background-color: #F4EEE8;
    color: #CF914C;
    font-family:  'Playfair Display';
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-top: 60px;
    text-align: center;
    padding: 7px;
}

.mellemdiv {
  background-color: #F4EEE8;
  width: 100%;
  height: auto;
  position: relative;
  

}

.indhold1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/Baggrund_figur_omvendtLodret.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: -20px 0px;

}

.tal1 {
    font-size: 300px;
    color: #AE9188;
    font-style: italic;
    margin: 0px;
    margin-left: 90px;
}

.indhold2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto; 
    margin-right: 0;
    background-image: url("images/Baggrund_figur_omvendtVandret.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
    
}

.tal2 {
    font-size: 300px;
    color: #D0904D;
    font-style: italic;
    margin-left: auto; 
    margin-right: 120px;

    
    
}

.indhold3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/Figur.png");
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: -180px -100px;    

}

.tal3 {
    font-size: 300px;
    color: #F7EFE8;
    font-style: italic;
    margin-left: 90px;
    margin-top: -160px;
}

.stepTekst {
    text-align: center;
    color: #6B3B0A;
    font-size: 25px;
    width: 500px;
    margin-top: 250px;
    margin-left: 20%;
    
}

.stepTekst2 {
    text-align: center;
    color: #6B3B0A;
    font-size: 25px;
    width: 500px;
    margin-top: 200px;
    margin-left: 30%; 
    margin-right: 0;
}

.stepTekst3 {
    text-align: center;
    color: #6B3B0A;
    font-size: 25px;
    width: 500px;
    margin-top: 100px;
    margin-left: 20%;
}

.prøvProgrammeringlæsMereHer {
    width: 200px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D0904D;
    color: #F4EEE8;
    font-family:  'Playfair Display';
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 5.5px;
}



/* SuccesHistorie*/
.billedeSucceshitorie {
    display: relative;
    height: 400px;
    width: 400px;
    object-fit: cover;
    right: 50px;
    margin: 60px;
    border-radius: 50%;

}

.overskriftSuccesForside {
    color: #6B3B0A;
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 50px;
    margin-top: 100px;
}

.quoteNavn {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 50px;
  color: #F4EEE8;
  font-size: 20px;
}

.omSuccesHistorierlæsMereHer {
    width: 200px;
    height: 40px;
    display: block;
    margin-left: 45px;
    margin-right: auto;
    background-color: #F4EEE8;
    color: #AE9188;
    font-family:  'Playfair Display';
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-top: 60px;
    text-align: center;
    padding-top: 5.5px;
}

.omSuccesHistorierlæsMereHer:hover{
    color:#CF914C;
}

@media only screen and (max-width: 1200px){
 .kvindeligProgrammør{
     width: 250px;
 }

 .introTextHome{
    font-size: 40px;
    margin: 150px 20px 0px 80px;
 }

 .indhold1 {
    background-image: url("images/Baggrund_figur_omvendtLodret.png");
    background-size: 450px;
    background-position: -50px 0px;
}

.tal1 {
    font-size: 300px;
    color: #AE9188;
    font-style: italic;
    margin: 10px;
    margin-left: 70px;
}

.indhold2 {
    margin-right: 0;
    background-size: 600px;
    background-position: right;
    
}

.tal2 {
    font-size: 400px;
    color: #D0904D;
    font-style: italic;
    margin-left: auto; 
    margin-right: 120px;
    
}

.indhold3 {
    background-size: 850px;
    background-position: -350px 50px;    

}

.tal3 {
    font-size: 400px;
    color: #F7EFE8;
    font-style: italic;
    margin: 5px;
    margin-left: 90px;
}

.stepTekst {
    font-size: 40px;
    width: 350px;
    margin-top: 100px;
    margin-left: 20%;
    
}

.stepTekst2 {
    width: 350px;
    margin-top: 200px;
    margin-left: 10%; 
    margin-right: 0;
}

#programmeringDiv .indhold{
    flex-wrap: wrap !important;
}
    
}

