a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  

}

.navbar-toggler-icon {
  color: #F4EEE8 !important;
  background-image: url("./images/burgermenu.png") !important;
}

.color-nav {
  background-color: #CFA99D;
}

html {
  font-size: 14px;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  
}

.nav-link{
  color: #F4EEE8;
  font-weight: bold;
  
}

.nav-link:hover{
  color: #CF914C;
  
  
}

.nav-link .active{
  color: #CF914C;
  margin-bottom: px !important; 
  
}

.mb-3 {
  margin-bottom: px !important; 
}
