.fællesBillede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    padding-top: 150px;
    width: 1000px;

}

.overskrift {
    font-size: 500%;
}

.midterTekst {
    text-align: center;
    color: #F4EEE8;
    font-size: 25px;
}

.omOsSamlet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
}

.omOsSeperat {
    width: 300px;
    margin: auto;

}

.personligtBillede {
    width: 300px;

}

.omOsTekst {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #6B3B0A;
}

@media only screen and (max-width: 1200px){
    .fællesBillede {
        width: 600px;
        padding-top: 100px;
    }

    .overskrift{
        margin-top: 0px;
    }
}