.overskrift_P{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
    color: #6B3B0A;
    font-size: 500%;
    padding: 0;
    z-index: 1;

}

.section1{
    background-color: #CF914C;
    height: 300px;
}