
.body{
    scroll-behavior: smooth;
}

.billedeBaggrund {
    position: relative;
    height: 525px;

    background-image: url("images/Baggrund_figur.png");
        background-size: 800px;
        background-repeat: no-repeat;
        background-position: -100px;
        margin-bottom: 20px;
}

.overskrift_P{
    text-align: center;
    margin-bottom: 0;
    color: #6B3B0A;
    font-size: 500%;
    z-index: 1;
    padding-top: 100px;

}

.collapsible{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.icons_{
    text-align: center;
}


.one, .two, .three, .four, .five, .six{
    color: #6B3B0A;
    cursor: pointer;
    text-decoration: none;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover{
    color: #CFA99D;
}

article {
    display: inline-grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 3px;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }



#frontend_OmProgrammering{
    background-color: #CF914C;
    height: 500px;
}

h2{
    margin-top: 5%;
    margin-left: 10%;
    color: #6B3B0A;
}

.frontend{
    display: inline-grid;
    grid-template-columns: repeat(2, 800px);
    grid-template-rows: auto;
    grid-column-gap: 10%;
    width: 100%;
}

.frontend_tekst{
    grid-column-start: 1;
    grid-column-end: 2; 
    margin-left: 10%;
    margin-top: 3%;
    color: #F4EEE8;
    width: 500px;
}

.frontendGif{
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 3%;
}

.frontend_knap{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 80px;
    top: 950px;    
    background: #F4EEE8;
    border-radius: 10px;
    color: #6B3B0A;
    border: none;
    text-align: center;
    padding: 0.5%;
}

.frontend_knap:hover{
    color:#CF914C;
}

.backend{
    display: inline-grid;
    grid-template-columns: repeat(2, 800px);
    grid-template-rows: auto;
    grid-column-gap: 10%;
    width: 100%;
}

#backend_OmProgrammering{
    height: 500px;
}

.backend_tekst{
    grid-column-start: 1;
    grid-column-end: 2; 
    margin-left: 10%;
    margin-top: 3%;
    width: 500px;
}

.backendGif{
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 3%;
}

.backend_knap{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 80px;
    top: 1450px;    
    background: #CF914C;
    border-radius: 10px;
    color: #F4EEE8;
    border: none;
    text-align: center;
    padding: 0.5%;
}

.backend_knap:hover{
    color:#6B3B0A;
}

#database_OmProgrammering{
    height: 500px;
    background-color: #CFA99D;
}

.database{
    display: inline-grid;
    grid-template-columns: repeat(2, 800px);
    grid-template-rows: auto;
    grid-column-gap: 10%;
    width: 100%;
}

.databaser_tekst{
    grid-column-start: 1;
    grid-column-end: 2; 
    margin-left: 10%;
    margin-top: 3%;
    color: #F4EEE8;
    width: 500px;
}

.databaseGif{
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 3%;
}

.database_knap{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 80px;
    top: 1950px;    
    background: #F4EEE8;
    border-radius: 10px;
    color: #6B3B0A;
    border: none;
    text-align: center;
    padding: 0.5%;
}

.database_knap:hover{
    color:#CFA99D;
}

