
.body{
    scroll-behavior: smooth;
}

.billedeBaggrund {
    position: relative;
    height: 800px;

    background-image: url("images/Baggrund_figur.png");
        background-size: 1100px;
        background-repeat: no-repeat;
        background-position: -200px;
}

.overskrift_P{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
    color: #6B3B0A;
    font-size: 500%;
    padding: 0;
    z-index: 1;

}

.collapsible{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.icons_{
    text-align: center;
}


.one, .two, .three, .four, .five, .six{
    color: #6B3B0A;
    cursor: pointer;
    text-decoration: none;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover{
    color: #CFA99D;
}

article {
    display: inline-grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 3px;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }


#section_frontend{
    background-color: #CF914C;
    height: 500px;
}

#section_backend{
    height: 500px;
}

#section_database{
    height: 500px;
    background-color: #CFA99D;
}