.overskriftdiv{
  margin-top: 100px;
  background-image: url("images/Baggrund_figur.png");
        background-size: 1100px;
        background-repeat: no-repeat;
        background-position: -200px;
  margin-bottom: 250px;
}

#baggrund{
  height: 700px;
}

.overskriftOpgaver{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 500%;
    text-align: center;
}

.intro{
    font-size: 20px;
    margin: 50px 100px 100px 100px;
    text-align: center;
    color: #6B3B0A;
}

.grid-container {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px;
    gap: 20px;
    padding: 50px;
    
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 30px;
    

  }

  #myimage {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.gifdiv{
  display: grid;
  place-items: center;

}

.opgbtn{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 110px;
  width: 110px;
  font-size: 30px;
}

.opgbtn:hover{
  height: 115px;
  width: 115px; 
}

.opgbtn:active{
  height: 95px;
  width: 95px;
}

#knap1{
  background-image: url(./images/Opgaveknapper/M3.png);
  color: #F4EEE8;
}


#knap2{
  background-image: url(./images/Opgaveknapper/MOW.png);
  color: #CF914C;
}

#knap3{
  background-image: url(./images/Opgaveknapper/MWP.png);
  color: #F4EEE8;
}

.opgaveknapper {
  width: 300px;
  height: 100px;
  display: block;
  background-color: #D0904D;
  font-family:  'Playfair Display';
  font-weight: 400;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  margin-top: 150px;
  margin-bottom: 200px;
  text-align: center;
  padding: 20px;
}

.opgaveknapper:hover, .opgaveknapper:visited, .opgaveknapper:link, .opgaveknapper:active
{
    text-decoration: none;
    color: #F4EEE8;
}


