.intro{
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
    font-size: larger;
}

.grid-container {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 80px;
    gap: 20px;
    padding: 50px;
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 30px;

  }

  #myimage {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.gifdiv{
  display: grid;
  place-items: center;  

}

.opgbtn{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 80px;
  width: 80px;
  font-size: 30px;
}

#knap1{
  background-image: url(./images/Opgaveknapper/M3.png);
  color: #F4EEE8;
}

#knap2{
  background-image: url(./images/Opgaveknapper/MOW.png);
  color: #CF914C;
}

#knap3{
  background-image: url(./images/Opgaveknapper/MWP.png);
  color: #F4EEE8;
}



