@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



.topDiv {
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.overskrift {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    left: 50%;   
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.introText {
 margin: 150px 50px 0px 50px;
 width: 400px;
 font-size: 35px;
}

.billedeSucceshistorie {
    width: 5000px;
}



/* Billede 1*/

.billede1Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 450px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede1 {
    transition: 1s ease;
    object-fit: cover;
    width:230px;
    height:230px;
    border-radius: 50%;
    margin: 150px 50px 0px 50px;
    
}

.billede1Div:hover .billede1{
    opacity: 0.3;
    transition: 1s ease;
}

.billede1Div:hover .skjultText{
    opacity: 1;
}

.billede1Div:hover .skjultTextDiv {
    opacity: 1;
}

/* Billede 2*/

.billede2Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede2 {
    transition: 1s ease;
    object-fit: cover;
    width:400px;
    height:400px;
    margin: 100px 50px 0px 50px;
    border-radius: 50%;
}

.billede2Div:hover .billede2{
    opacity: 0.3;
    transition: 1s ease;
}

.billede2Div:hover .skjultText{
    opacity: 1;
}

.billede2Div:hover .skjultTextDiv {
    opacity: 1;
}



/* Billede 3*/

.billede3Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 350px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }


.billede3 {
    transition: 1s ease;
    object-fit: cover;
    width:200px;
    height:200px;
    margin: 100px 50px 0px 50px;
    border-radius: 50%;
}

.billede3Div:hover .billede3{
    opacity: 0.3;
    transition: 1s ease;
}

.billede3Div:hover .skjultText{
    opacity: 1;
}

.billede3Div:hover .skjultTextDiv {
    opacity: 1;
}

/* Billede 4*/

.billede4Div {
    position: relative;
    padding: 0;
    width: auto;
    height:500px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede4 {
    transition: 1s ease;
    object-fit: cover;
    width:400px;
    height:400px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede4Div:hover .billede4{
    opacity: 0.3;
    transition: 1s ease;
}

.billede4Div:hover .skjultText{
    opacity: 1;
}

.billede4Div:hover .skjultTextDiv {
    opacity: 1;
}



/* Billede 6 */
.billede6Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 400px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede6 {
    transition: 2s ease;
    object-fit: cover;
    width:280px;
    height:280px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede6Div:hover .billede6{
    opacity: 0.3;
    transition: 1s ease;
}

.billede6Div:hover .skjultText{
    opacity: 1;
}

.billede6Div:hover .skjultTextDiv {
    opacity: 1;
}




/* Billede 7 */
.billede7Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 500px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede7 {
    transition: 1s ease;
    object-fit: cover;
    width:320px;
    height:320px;
    margin: 130px 50px 50px 50px;
    border-radius: 50%;
}

.billede7Div:hover .billede7{
    opacity: 0.3;
    transition: 1s ease;
}

.billede7Div:hover .skjultText{
    opacity: 1;
}

.billede7Div:hover .skjultTextDiv {
    opacity: 1;
  }

  /* Billede 8 */
.billede8Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 600px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede8 {
    transition: 1s ease;
    object-fit: cover;
    width:240px;
    height:240px;
    margin: 200px 50px 50px 50px;
    border-radius: 50%;
}

.billede8Div:hover .billede8{
    opacity: 0.3;
    transition: 1s ease;
}

.billede8Div:hover .skjultText{
    opacity: 1;
}

.billede8Div:hover .skjultTextDiv {
    opacity: 1;
  }


  /* Billede 9 */
.billede9Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 420px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede9 {
    transition: 1s ease;
    object-fit: cover;
    width:410px;
    height:410px;
    margin: 10px 50px 50px 50px;
    border-radius: 50%;
}

.billede9Div:hover .billede9{
    opacity: 0.3;
    transition: 1s ease;
}

.billede9Div:hover .skjultText{
    opacity: 1;
}

.billede9Div:hover .skjultTextDiv {
    opacity: 1;
  }

 /* Billede 10 */
 .billede10Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 350px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede10 {
    transition: 1s ease;
    object-fit: cover;
    width:200px;
    height:200px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede10Div:hover .billede10{
    opacity: 0.3;
    transition: 1s ease;
}

.billede10Div:hover .skjultText{
    opacity: 1;
}

.billede10Div:hover .skjultTextDiv {
    opacity: 1;
  }

 /* Billede 11 */
 .billede11Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 450px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede11 {
    transition: 1s ease;
    object-fit: cover;
    width:320px;
    height:320px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede11Div:hover .billede11{
    opacity: 0.3;
    transition: 1s ease;
}

.billede11Div:hover .skjultText{
    opacity: 1;
}

.billede11Div:hover .skjultTextDiv {
    opacity: 1;
  }

 /* Billede 12 */
 .billede12Div {
    position: relative;
    padding: 0;
    width: auto;
    height: 450px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede12 {
    transition: 1s ease;
    object-fit: cover;
    width:350px;
    height:350px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede12Div:hover .billede12{
    opacity: 0.3;
    transition: 1s ease;
}

.billede12Div:hover .skjultText{
    opacity: 1;
}

.billede12Div:hover .skjultTextDiv {
    opacity: 1;
  }


/* CSS til skjulte text på billeder */

.skjultTextDiv {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
       
  }


.skjultTextOverskrift {
    font-style: oblique;
    font-size: 20px;
  }
  
  .skjultText {
    height: 0;
    opacity: 1;
  }