@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.topDivSuccesHistorie {
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    margin-top: 100px;
    background-image: url("images/Baggrund_figur.png");
    background-size: 1000px;
    background-repeat:no-repeat;
    background-position: 0px 0px;
    margin-bottom: 20px;
}

.overskrift {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    left: 50%;   
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.introText {
 margin: 150px 50px 0px 50px;
 width: 400px;
 font-size: 35px;
}

.succesfuldeKvinderBillede {
    height: 500px;
  max-width: 500px;
}



/* Billede 1*/

.billede1Div {
    position: relative;
    width: auto;
    height: 240px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede1 {
    transition: 1s ease;
    object-fit: cover;
    width:230px;
    height:230px;
    border-radius: 50%;
    margin: 10px 50px 0px 50px;
    
}

.billede1Div:hover .billede1{
    opacity: 0.3;
    transition: 1s ease;
}

.billede1Div:hover .skjultText{
    opacity: 1;
}

.billede1Div:hover .skjultTextDiv {
    opacity: 1;
}

/* Billede 2*/

.billede2Div {
    position: relative;
    padding: 0;
    width: 150px;
    height: 170px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede2 {
    transition: 1s ease;
    object-fit: cover;
    width:150px;
    height:150px;
    margin: 20px 50px 0px 0px;
    border-radius: 50%;
}

.billede2Div:hover .billede2{
    opacity: 0.3;
    transition: 1s ease;
}

.billede2Div:hover .skjultText{
    opacity: 1;
}

.billede2Div:hover .skjultTextDiv {
    opacity: 1;
}



/* Billede 3*/

.billede3Div {
    position: relative;
    padding: 0;
    width: 300px;
    height: 350px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }


.billede3 {
    transition: 1s ease;
    object-fit: cover;
    width:200px;
    height:200px;
    margin: 100px 0px 0px 50px;
    border-radius: 50%;
}

.billede3Div:hover .billede3{
    opacity: 0.3;
    transition: 1s ease;
}

.billede3Div:hover .skjultText{
    opacity: 1;
}

.billede3Div:hover .skjultTextDiv {
    opacity: 1;
}

/* CSS til skjulte text på billeder */

.skjultTextDiv {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.skjultTextOverskrift {
    font-style: oblique;
    font-size: 16px;
    color: #6B3B0A;
    font-weight: bold;
  }

  .skjultTextOverskrift:hover {
    font-style: oblique;
    font-size: 16px;
    color: #CF914C;
  }
  
  .skjultText {
    height: 0;
    opacity: 1;
    font-size: 12px;
    color: #6B3B0A;
  }

  @media only screen and (max-width: 1200px){
    .introText {
        margin: 20px 20px 0px 20px;
        width: 600px;

       }
    
    .billede1Div {
        height: 200px;
    }
    
    .billede1 {
        width:190px;
        height:190px;
        margin: 10px 50px 0px 50px; 
    }

    .billede2Div {
        width: 130px;
        height: 150px;
      }
    
    .billede2 {
        width:130px;
        height:130px;
        margin: 10px 50px 0px 0px;
      
    }

    .billede3Div {
        width: 280px;
        height: 330px;
      }
    
    .billede3 {
        width:180px;
        height:180px;
        margin: 50px 0px 0px 50px;
       
    }
    
    .billede1Div:hover .billede1{
        opacity: 100%;
    }

    .billede1Div:hover .skjultText{
        opacity: 0;
    }
    
    .billede1Div:hover .skjultTextDiv {
        opacity: 0;
    }
    
    .billede2Div:hover .billede2{
        opacity: 100%;
    }

    .billede2Div:hover .skjultText{
        opacity: 0;
    }
    
    .billede2Div:hover .skjultTextDiv {
        opacity: 0;
    }

    .billede3Div:hover .billede3{
        opacity: 100%;
    }

    .billede3Div:hover .skjultText{
        opacity: 0;
    }
    
    .billede3Div:hover .skjultTextDiv {
        opacity: 0;
    }

    .succesfuldeKvinderBillede {
        height: 400px;
      max-width: 400px;
        margin-left: 75px;  
    }
  }