@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



.topDiv {
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.overskrift {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    left: 50%;   
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.introText {
 margin: 150px 50px 0px 50px;
 width: 400px;
 font-size: 35px;
}

.billede {
    height: 600px;
}


/* Billede 1*/

.billede1Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede1 {
    transition: 1s ease;
    object-fit: cover;
    width:230px;
     height:230px;
    border-radius: 50%;
    margin: 150px 50px 0px 50px;
    
}

.billede1Div:hover .billede1{
    opacity: 0.3;
    transition: 1s ease;
    width:500px;
    height:500px;
}

.billede1Div:hover .skjultText{
    opacity: 1;
}

.billede1Div:hover .skjultTextDiv {
    opacity: 1;
}

/* Billede 2*/

.billede2Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede2 {
    transition: 1s ease;
    object-fit: cover;
    width:200px;
    height:200px;
    margin: 100px 50px 0px 50px;
    border-radius: 50%;
}

.billede2Div:hover .billede2{
    opacity: 0.3;
    transition: 1s ease;
    width:500px;
    height:500px;
}

.billede2Div:hover .skjultText{
    opacity: 1;
}

.billede2Div:hover .skjultTextDiv {
    opacity: 1;
}



/* Billede 3*/

.billede3Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }


.billede3 {
    transition: 1s ease;
    object-fit: cover;
    width:150px;
    height:150px;
    margin: 100px 50px 0px 50px;
    border-radius: 50%;
}

.billede3Div:hover .billede3{
    opacity: 0.3;
    transition: 1s ease;
    width:500px;
    height:500px;
}

.billede3Div:hover .skjultText{
    opacity: 1;
}

.billede3Div:hover .skjultTextDiv {
    opacity: 1;
}

/* Billede 4*/

.billede4Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede4 {
    transition: 1s ease;
    object-fit: cover;
    width:260px;
    height:260px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede4Div:hover .billede4{
    opacity: 0.3;
    transition: 1s ease;
    width:500px;
    height:500px;
}

.billede4Div:hover .skjultText{
    opacity: 1;
}

.billede4Div:hover .skjultTextDiv {
    opacity: 1;
}



/* Billede 6 */
.billede6Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede6 {
    transition: 3s ease;
    object-fit: cover;
    width:100px;
    height:100px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede6Div:hover .billede6{
    opacity: 0.3;
    transition: 1s ease;
    width:400px;
    height:400px;
}

.billede6Div:hover .skjultText{
    opacity: 1;
}

.billede6Div:hover .skjultTextDiv {
    opacity: 1;
}




/* Billede 7 */
.billede7Div {
    position: relative;
    padding: 0;
    width: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

.billede7 {
    transition: 1s ease;
    object-fit: cover;
    width:300px;
    height:300px;
    margin: 100px 50px 50px 50px;
    border-radius: 50%;
}

.billede7Div:hover .billede7{
    opacity: 0.3;
    transition: 1s ease;
    width:400px;
    height:400px;
}

.billede7Div:hover .skjultText{
    opacity: 1;
}

.billede7Div:hover .skjultTextDiv {
    opacity: 1;
  }


/* CSS til skjulte text på billeder */

.skjultTextDiv {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
       
  }


.skjultTextOverskrift {
    font-style: oblique;
    font-size: 20px;
  }
  
  .skjultText {
    height: 0;
    opacity: 1;
  }