/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
  background-color: #F4EEE8;
  font-family: 'Playfair Display', serif;
}

.container {
 max-width: 100%;
 margin: 0px;
 padding: 0px;
}

h1{
  color: blue;
}

a {
  color: purple;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

priText {
  color: #F4EEE8;
}

secText {
  color: #6B3B0A;
}

terText{
  color: #CF914C;
}

priDiv {
  background-color: #F4EEE8;
}

secDiv {
  background-color: #CFA99D;
}

terDiv {
  background-color: #CF914C;
}

/* skal bruges til flere sider*/
.historiePink {
  background-color: #CFA99D;
  width: 100%;
  height: auto;
  padding: 30px;
}
/* skal bruges til flere sider*/
.historieLys {
  background-color: #F4EEE8;
  width: 100%;
  height: auto;
  padding: 30px;
}
/* skal bruges til flere sider*/
.historieOrange {
  background-color: #CF914C;
  width: 100%;
  height: auto;
  padding: 30px;
}
/* skal bruges til flere sider*/
.indhold {
  display: flex;    
}

/* skal bruges til flere sider*/
.overskriftHøjre {
  color: #6B3B0A;
  margin-bottom: 30px;
  margin-left: 40px;
  padding: 40px;

  
}
/* skal bruges til flere sider*/
.overskriftVenstre {
  color: #6B3B0A;
  margin-bottom: 30px;
  text-align: right;
  margin-right: 40px;
  padding: 40px;

}
/* skal bruges til flere sider*/
.beskrivelseLys {
  margin-right: 40px;
  margin-left: 40px;
  color: #F4EEE8;
  font-size: 20px;
  padding: 40px;
}
/* skal bruges til flere sider*/

.beskrivelseMørk {
  margin-right: 40px;
  margin-left: 40px;
  color: #6B3B0A;
  font-size: 20px;
  padding: 40px;

}

.overskriftdiv{
  padding-bottom: 150px;

}

.billede {
  height: 600px;
}

.baggrundDiv{
  background-image: url(./components/images/Baggrund_figur.png);
  z-index: -1;
  height: 500px;
  opacity: 60%;
  background-position: -30% 20%;
  background-size: 60%;
  background-repeat: no-repeat;
}