/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background-color: #F4EEE8;
  font-family: 'Playfair Display', serif;
}

a {
  color: purple;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

priText {
  color: #F4EEE8;
}

secText {
  color: #6B3B0A;
}

terText{
  color: #CF914C;;
}

priDiv {
 color: #F4EEE8;
}

secDiv {
  color: #CFA99D;
}

terDiv {
  color: #CF914C;
}